.ozellik
{
    margin-top: -50px;
}
#yuvarlak
{
    border-radius: 50%;
    border: 0.3rem solid #fff;
}
.fonts
{
    font-family: 'Kalam', cursive;
    font-weight: 600; 
}
.card-img-top
{
    width:285px;
    height: 260px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10%;
    margin-top: -100px;
}
.card-title
{
    text-align: center;
}
.card-text
{
    text-align: center;
}
#fontbaslik
{
    font-family: 'Kalam', cursive;
    font-size: 25px;
}
.metin
{
    font-size: 35px;
    text-align: center;
    font-family: 'Kalam', cursive;
    margin-bottom: 20px;
    font-weight: bold;
}
#carouselExampleAutoplaying
{
    width: 300px;
    height: 230px;
    align-items: center;
    margin: auto;  
}
.carousel-inner
{
    border-radius: 10%;
}
body 
{
    font-family: Arial, sans-serif;
}
header 
{
    background-color: #333;
    color: #fff;
    padding: 20px;
}
@media (max-width: 768px) 
{
    header 
    {
        padding: 10px;
    }
}
@media (max-width: 480px)
{
    body 
    {
        font-size: 14px;
    }

    header 
    {
        font-size: 18px;
    }
}
.iconbaglanti
{
    text-align: center;
    color: grey;
    margin-top: -25px;
}
.pb-2
{
    font-size: 35px;
    text-align: center;
    font-family: 'Kalam', cursive;
    margin-bottom: 15px;
    font-weight: bold;
    background: linear-gradient(to right, #b14be4,
    rgb(105, 173, 255), #ff89d6 ,#1d94fd , #b14be4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.card
{
  height: 520px;
}
#oranti
{
    margin: auto;
    align-items: center;
    text-align: center;
}
.ortala
{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Signika', sans-serif;
}
.yukarii
{
    margin-top: -40px;
}
.yukariii
{
    margin-top: -55px;
}
.ustt
{
    margin-top: 20px;
}
@media only screen and (min-width: 768px) 
{
    #carouselExampleAutoplaying 
    {
       width: 550px;
       height: 400px;
       margin-bottom: 65px;
    }
}
#output 
{
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 4px;
    font-family: 'Kalam', cursive;
    background: linear-gradient(to right, #b14be4,
    rgb(105, 173, 255), #ff89d6 ,#1d94fd , #b14be4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;    
}
#output::after 
{
    content: "|";
    animation: blink 0.7s infinite;
}
@keyframes blink 
{
    0%, 100% 
    {
        opacity: 1;
    }
    50% 
    {
        opacity: 0;
    }
}
@media only screen and (width: 768px) 
{
    .card-img-top
    {
        width: 200px;
        height: 180px;
        margin: auto;
        border-radius: 10%;
        margin-top: -45px;
    }
}
